:host {
  /* Component styles go here */
}

div.onlingo-user-grades {
  @apply h-screen w-full bg-background overflow-y-auto flex flex-col justify-start items-center;

  div.buttons-row {
    @apply w-3/4 flex flex-row justify-start items-center;

    button {
      @apply p-10 bg-primary rounded-md font-bold text-text-heading-inverse;
    }
  }

  div.wrapper {
    @apply w-5/6 mt-8 flex flex-col;

    div.inner-wrapper {
      @apply -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8;

      div.header-wrapper {
        @apply py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8;

        div.table-border {
          @apply shadow overflow-hidden border-b border-gray-200 sm:rounded-lg pb-20;

          table {
            @apply min-w-full divide-y divide-gray-200;

            thead {
              @apply bg-gray-50;
              tr {
                th {
                  @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
                }

                th:last-child {
                  @apply relative px-6 py-3;
                  span {
                    @apply sr-only;
                  }
                }
              }
            }

            tbody {
              @apply bg-white divide-y divide-gray-200;
              tr {
                td {
                  @apply px-6 py-4 whitespace-nowrap;
                }

                td:last-child {
                  @apply px-6 py-4 whitespace-nowrap text-right text-sm font-medium;
                  a {
                    @apply font-bold text-primary hover:text-secondary;
                  }
                }
              }
              tr:last-child {
                @apply mb-4;
              }
            }
          }
        }
      }
    }
  }
}
